<% if flash[:error_messages] %>
  <div class="alert alert-danger mt-5">
    <ul>
      <% flash[:error_messages].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
